* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  position: relative;
}

.inner {
  position: relative;
  width: 435px;
}

form {
  width: 100%;
  position: relative;
  z-index: 9;
  padding: 77px 61px 66px;
  background: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
}

h3 {
  text-transform: uppercase;
  font-size: 25px;
  color: #333;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 33px;
}

.form-holder {
  position: relative;
  margin-bottom: 21px;
}

.form-holder span {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 15px;
  color: #333;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.form-control {
  border: none;
  border-bottom: 1px solid #e6e6e6;
  display: block;
  width: 100%;
  height: 38px;
  background: 0 0;
  color: #666;
  font-size: 16px;
}

.form-control:focus {
  outline: none;
}

form button {
  border: none;
  width: 100%;
  height: 49px;
  margin-top: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: #9cf;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 2px;
  transition: all .5s;
  position: relative;
  overflow: hidden;
}

.navLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
}

.navLinks button {
  border: none;
  height: 49px;
  margin: 0px 50px;
  cursor: pointer;
  padding: 20px;
  
}

.home button {
  border: none;
  height: 49px;
  margin: 0px 50px;
  cursor: pointer;
  padding: 20px;
}